.swiper-container{
	height: calc(100% - 45px);
	width: 100%;
}

.swiper-wrapper{
	margin: auto;
	height: 100%;
	width: 100%;
}

.slide{
	position: relative;
	width: 800px;
	height: 500px;
	margin: auto;
	top:calc(50% - 250px);
}

.img-slider{
	height: 100%;
	width: 100%;
}

.drag-item {
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 5px;
	left: 5px;
	background: #ffffff;
	padding: 2px 3px;
	box-shadow: 0px 0px 1px 1px #a7a7a794;
	border-radius: 50%;
	cursor: pointer;
}

.drag-item[status="assumeok"]
{
	border: 3px solid #337ab7;
}
.drag-item[status="ok"]
{
	border: 3px solid #44b744;
}
.drag-item[status="notok"]
{
	border: 3px solid #ea5c5c;
	animation: ripple 2s linear infinite;
}

.drag-item i{
    border-radius: 50%;
    padding: 1px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
}

.drag-item span{
    display: block;
    margin-top: 17px;
    margin-left: -3px;
    font-size: 8px;
    min-width: fit-content;
    white-space:nowrap;
}
.drag-item[status="assumeok"] i
{
	background: #337ab7;
	/* font-size: 12px;
	padding-left: 2px; */
}
.drag-item[status="ok"] i
{
	background: #44b744;
	/* font-size: 12px;
	padding-left: 2px; */
}
.drag-item[status="notok"] i
{
	/* font-size: 13px; */
	background: #ea5c5c;
}

.drag-item::before,
.drag-item::after {
  grid-area: 1/1;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 1s;
}

.drag-item::after {
  animation-delay: 2s;
}

@keyframes ripple {
	0% {
   	 box-shadow: 0 0 0 0.7rem rgb(217 102 102 / 20%);
	}
	100% {
	    box-shadow: 0 0 0 2rem rgb(195 30 30 / 0%);
	}
}

